// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #eeeeee;
$github-body-color-gray: #d3d3d3;
$github-dark-blue: #0D1117;
$github-medium-blue: #161B22;
$github-light-blue: #1B6DF0;  // for links


// #0D1117 = Darker Blue, use for full page background, 60% of page
// #161B22 = Medium Blue, use for cards and detaling, 30% of page
// #1B6DF0 = Brighter Blue, use for <a>, links, 10% of page
