// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$github-body-color-gray: #d3d3d3;
$light-gray: #eeeeee;
$github-dark-blue: #0D1117;
