// Specific CSS for your home-page
.welcome {
  text-align: center;
  // opacity: 0%;
  animation: animate 1s linear 1;
}

@keyframes animate {
  0%
  {
    opacity: 0%;
  }
  100%
  {
    opacity: 100%;
  }
}
