.item-info {
  margin: 30px 0 30px 15px;
  i {
    font-size: 24px;
  }
  .price {
    color: $github-light-blue;
  }
  .price:hover {
    color: white;
    transition: .6s ease-in-out;
  }
}

.item-header {
  margin: 0 0 0 15
  px;
 font-weight: bolder;
}
