<h1><%= @user.name %>'s profile</h1>


<p><strong>Email</strong>: <%= @user.email %></p>

<% if @user == current_user %>
  <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-info" %>
<% end %>

<%= link_to "Back to home", root_path, class: "btn btn-info" %>
