.avatar {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(0, 195, 0);
  border: rgb(0, 177, 0) 2px solid;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-x-large {
  width: 100px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
